
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>

</head>
<body>
    <div class="header" align= center>
        <h1>BASE DE DATOS:</h1>
        <h3>MARIA MARTINO</h3>
       
    </div>

    <div class="navigation">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active" align=center><a href="search">Ver</a></li>
            <li role="presentation" align = center ><a href="add">Agregar</a></li>
            
        </ul>
    </div>




    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"> </script>

</body>
</html>
